.Login{
  padding:12vh;
  width:80%;
  background-color:#ffffff;
}

.Login-form{
  padding:8vh;
  width:60%;
  text-align:center;

  background-color:#f0ffff;
}

.Login-prom{
  padding:0 20vh;
  width:80%;
  height:65vh;
  background-color:#ffffff;
}

@media (prefers-reduced-motion: no-preference) {/*
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
*/}

@keyframes App-logo-spin {/*
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
*/}
